.explore,.posts1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 7px 8px;
    margin: auto;
}
.explore{
    width: 40%;
    margin: auto;
}
.image111{
    position: absolute;
    top: 7px;
    right: 7px;
}
.image11{
    position: absolute;
    top: 7px;
    right: 25px;
}
.reels,.myReels{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7px 8px;
    
    margin: auto;
}
.reels{
   /* width: 20%; */
   width: 40%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    

}
input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: inherit;
    color: white;
    border:1px solid white;
    
}
/* .textarea{
    height: 150px;
} */
.form div{
    margin: 30px 0;
   
}
.form button{
    padding: 5px 15px;
    color: white;
    background-color: #0095F6;
    border-radius:15px ;
    border: 0.5px solid white;
    margin: auto;
   
}
.btns{
    display: flex;
    justify-content: center;
}