@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Kufi+Arabic:wght@300&family=Poppins:wght@200&display=swap');
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}
.stories{
    display: flex;
    padding-bottom: 15px;
   
}
.stories img{
    height: 60px;
    width: 60px;
    border-radius: 70px;

}
.storyImg{
    height: 70px;
    width: 70px;
    border: 2px solid red;
    padding:  5px 5px 0 5px;
    display: flex;
    justify-content: center;
    border-radius: 70px;
}
.avatar{
    height: 50px;
    width: 50px;
    border-radius: 70px;
}
.avatar1{
    height: 35px;
    width: 35px;
    border-radius: 70px;
}
.name{
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
text-transform: lowercase;
}
.name1{
    color: #969696;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
p{
    margin: 0;
}
.switch{
    display: flex;
    align-items: center;
}
.home{
    display:flex;
    justify-content: space-between;
    /* margin-left: 200px; */
    padding:0 20px;
    
}
.follow{
    color: var(--instagram-blue, #0095F6);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;
text-transform: capitalize;
}
.following1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}
.following{
    width: 30%;
}
.sug{
    color: var(--instagram-grey, #969696);

font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.26px;
}
.more{
    color: #FAFAFA;
font-size: 11px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.33px;
text-transform: capitalize;
}
.postCreator{
    display: flex;
    align-items: center;
    gap: 10px;
}
.postCreator img{
    height: 38px;
    width: 38px;
    border-radius: 38px;
    border: 1px solid red;

}
.createdPost{
    height: 50vh;
    width: 100%;
    
}
.left{
    width:50% ;
    margin-left: 50px;
}
.ppost{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px
}
.active{
    display:flex;
    justify-content:space-between;
    width:13%;
}
.active1 img{
    height: 20px;
    width: 20px;
}
.active1
{
    display:flex;
     justify-content:space-between;
}
.ppost div{
    font-size: 13px;
}
.ppost span{
    font-size: 14px;
    font-family: 'Poppins', sans-seri;
}
.likes{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.comm{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}